/* Brecken Jergensen 4/13/2022 */

.homebg{
    background-image: url('../images/math.jpeg');
    background-position: bottom right;
    /* background-repeat: repeat; */ /* chrome version */
}

h2{
    color: red;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
}

.underline{
    text-decoration: underline;
}

p{
    color: purple;
    font-size: 20px;
}

.mainbody {
    top: 114px;
    bottom: 64px;
    left: 114px;
    right: 114px;
    padding-right: 5px;
}

.footer {
    color: black;
    font-size: 12px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    height: 10px;
    text-align: center;
}